#navbar{
  background-color: $b_primary;
}
#about-me{
  background-color: $b_primary;
  color: $f_mild;
  min-height: calc(100vh - 100px);
}
#features{
  background-color: $b_mild;
  color: $f_clear;
  min-height: calc(100vh - 100px);
}
#portfolio{
  background-color: $b_mild;
  color: $f_clear;
  min-height: calc(100vh - 100px);
  }
#contact{
  background-color: $b_mild;
  color: $f_clear;
}
#footer{
    color: $b_primary;
    background-color: $b_dark;
}

.biografy{
  text-align: justify;
  margin: auto;
  .brackets-extrems{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .brackets-wrap{
    width: 80%;
    margin: auto;
    .brackets{
      font-weight: 900;
      font-size: 3rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      &:first-of-type{
        text-align: left;
      }
      &:last-of-type{
        text-align: right;
      }
    }
    .brackets-long-text{
      font-size: 1rem;
    }
  }
}
.code-icon{
  background-color: $b_mild;
  color: $f_clear;
  transition: all 0.3s;
  &:hover, &:focus{
    transform: translateY(-12px);
  }
  i{
    font-size: 3rem;
  }
}
.btn-submit{
  background-color: $b_triadic_2 !important;
}

.project{
  border-radius: 5px;
}

#contacts{
  width: 100%;
  ul.contacts-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    li{
      flex-basis: auto;
      min-width: 300px;
      padding: 25px 0;
      text-align: center;
      i{
        padding-right: 2%;
      }
      .contact{
        min-height: 56px;
      }
    }
  }
}