//Background 
$b_primary: #c4d2ddee;
$b_complementary: #ddcfc4ee;
$b_triadic_1: #d2ddc4ee;
$b_triadic_2: #ddc4d2ee;
$b_mild: #2B3C4A;
$b_dark: #1e1e1e;
$b_semidark: #272727;
$b_footer: #000;

//Text
$f_clear: #fdfdfd;
$f_dark: #1e1e1e;
$f_mild: #2B3C4A;
$f_semidark: #333;